[Unit] 
Description=UnityRenderStreaming Staging
After=network.target

[Service]
User=administrator
WorkingDirectory=/home/administrator/staging/Delta_Unity_WebApp
ExecStart=/home/administrator/staging/Delta_Unity_WebApp/run_staging.sh
Restart=on-failure

[Install] 
WantedBy=multi-user.target