[Unit] 
Description=UnityRenderStreaming Develop
After=network.target

[Service]
User=administrator
WorkingDirectory=/home/administrator/develop/UnityRenderStreaming
ExecStart=/home/administrator/develop/UnityRenderStreaming/run_develop.sh
Restart=on-failure

[Install] 
WantedBy=multi-user.target